{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
    </style>

    <div class="example-wrapper">
        <h1>Your orders(<a href="{{ path('order') }}">new</a>)</h1>

        <table>
            <tr>
                <th>Status</th>
                <th>Created date</th>
                <th>Price</th>
            </tr>
            {%   for order in orders %}
                <tr>
                    <td>{{ order.getStatus() }}</td>
                    <td>{{ order.getCreatedDate().date }}</td>
                    <td>{{ order.getLaterPrice() }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}