{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block body %}
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>

<div class="example-wrapper">
    {{ form(form) }}
    <a href="{{ path('listUser') }}">Back</a>
</div>
{% endblock %}
